
[submodule "HTMLCSS/The-Coffee-Shop"]
	path = HTMLCSS/The-Coffee-Shop
	url = https://github.com/James1108Nguyen/The-Coffee-Shop.git
[submodule "HTMLCSS/W3-Band-Website-Project"]
	path = HTMLCSS/W3-Band-Website-Project
	url = https://github.com/James1108Nguyen/W3-Band-Website-Project.git
[submodule "James-Portable-Lab"]
	path = James-Portable-Lab
	url = https://github.com/James1108Nguyen/James-Portable-Lab.git
[submodule "HTMLCSS/James_Page"]
	path = HTMLCSS/James_Page
	url = https://github.com/James1108Nguyen/James-Portable-Lab.git
