:root {
  --process-circle-size: 160px;
  --progress-circle-thickness: 10px;
}
.section-2 {
  background-color: var(--first-primary-color);
}

.skills-card {
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.skills-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  padding-bottom: 25px;
  height: auto;
  text-align: center;
  line-height: normal;
}

/* process css */

.progress-circle {
  position: relative;
  width: var(--process-circle-size);
  height: var(--process-circle-size);
  margin: 0 auto 20px;
}

.outer,
.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  border-radius: 50%;
  background-color: #fafafa38;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner-content {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  align-items: center;
}
.inner-content__icon,
.inner-content__number {
  flex: 1 1 51%;
  min-width: 51%;
  text-align: center;
  font-size: 0.8rem;
}
.inner-content__icon > img {
  width: 25%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--process-circle-size);
  height: var(--process-circle-size);
}

circle {
  cx: calc(var(--process-circle-size) / 2);
  cy: calc(var(--process-circle-size) / 2);
  r: calc(
    var(--process-circle-size) / 2 - var(--progress-circle-thickness) / 2
  ); /* Tính toán bán kính */
  fill: none;
  stroke-width: var(
    --progress-circle-thickness
  ); /* Đặt độ dày của vòng tròn tiến trình */
  stroke-dasharray: calc(
    2 * 3.1415 *
      (var(--process-circle-size) / 2 - var(--progress-circle-thickness) / 2)
  ); /* Tổng chiều dài đường tròn */
  stroke-dashoffset: calc(
    2 * 3.1415 *
      (var(--process-circle-size) / 2 - var(--progress-circle-thickness) / 2)
  ); /* Bắt đầu từ trạng thái ẩn toàn bộ */
  stroke-linecap: round; /* Bo tròn đầu vòng tròn */
}
.skill-card__html {
  stroke: url(#gradient-html);
}
.skill-card__js {
  stroke: url(#gradient-js);
}
.skill-card__react {
  stroke: url(#gradient-react);
}
.skill-card__nodejs {
  stroke: url(#gradient-nodejs);
}
.skill-card__detail {
  text-align: start;
  font-size: 1.2rem;
}
